<template>
    <v-dialog
        v-model="dialog"
        scrollable fullscreen 
        persistent :overlay="false"
        max-width="500px"
        min-width="350px"
        transition="dialog-transition"
    >
        <v-btn fab dark accent slot="activator">
            <v-icon>edit</v-icon>
        </v-btn>
    </v-dialog>
</template>
